DB_HOST=xxxx.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=********
DB_SCHEMA=auth_schema

MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=your-username
MAILTRAP_PASSWORD=your-password

FIREBASE_SERVICE_ACCOUNT_PATH=secrets/firebase-service-account.json
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID